.about-project {
    width: 300px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.about-project-title {
    font-size: 2rem;
    font-family: "OCR A Extended", monospace;
    margin-bottom: 10px;
}

.about-project-type,
 .about-project-date{
    font-weight: 200;
    opacity: .5;
}

.about-project-type.hackaton {
    color: #46F946;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .about-project {
        width: 98%;
    }
}